
.container{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .xiding{
        position:fixed;
        top:56px;
        width:262px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 750px;
    }

    .container .hiddle-750{
        display: none;
    }

    .container .header-middle-item input{
        width:150px;
    }

    .container .QR_code{
        padding: 7px 10px;
    }

    .QR_code .min_erweima img{
        width: 50px;
        height: 50px;
    }

    .QR_code .czou{
        font-size: 12px;
    }

    .xiding{
        position:fixed;
        top:56px;
        width:200px;
    }
}

@media (max-width: 768px) {
    .header-middle{
        display: none;
    }
    
    .show-768{
        display:block !important;
    }

    .login_logo{
        display: none;
    }
}

.col-xs-16 {
    box-sizing: border-box;
    float: left;
    width: 66.66667%;
}

.col-xs-offset-1 {
    margin-left: 4.16667%;
}

.col-xs-7 {
    float: left;
    width: 29.16667%;
}

.clearFloat::after{
    content: '';
    display: block;
    clear: both;
}

.rotate-donghua-720 {
    transition: all 0.5s;
    transform: rotate(0);
}

/* 
animation: rotateD 0.5s linear ;
animation-fill-mode:forwards;
@keyframes rotateD {
    0%{
        transform: rotate(0);
    }

    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
} 
*/

.max_btn{
    box-sizing: border-box;
    width: 100%;
    padding: 8px ;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 13px;
    color: #787878;
}

.shou{
    cursor: pointer;
}

.jsd-meta {
    color: #ea6f5a!important;
}

.guanzhu_btn{
    padding: 2px 12px;
    font-size: 12px;
    border-radius: 40px;
    border: 1px solid #ec7259;   
    color: #ec7259;
    background-color: #fff;
}

.article_list_title .shou:hover{
    text-decoration: underline;
}

.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 9999;
    text-align: center;
    margin-top: 350px ;
}

.white-space{
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    line-height: 1.42857;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    margin: auto;
}

.p{
    display: flex;
}

.p-item{
    order: 2;
    width: 25%;
    border: 1px solid #000;
}

.p-item1{
    order: 1;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
}